body {
	margin: 0;
	padding: 0;
	
	display: flex;
	font-family: monospace;
	
	background-color:  #f1f1f1;
}

/*Container*/
#container {
	width: 100%;
	height: auto;
	
	padding: 15px;
	flex-direction: column;
	
	margin-left: 20%;
	margin-right: 20%;

	border: none;
}

/*Header*/
#header {
	display: inline-block;
	width: 100%;
	height: auto;
  	
	padding: 10px;

  	justify-content: center;
  	align-items: center;

	color: #000;
	background-color: #00ffff;

	border-radius: 10px;
}

#title {
	flex-wrap: wrap;
	font-size: 32px;
	font-family: 'Roboto', sans-serif; 

	align-self: center;
	text-align: center;
	justify-content: center;
	}

#description {
	align-self: center;
	text-align: center;
	justify-content: center;

	font-family: 'Roboto', sans-serif; 
}

/*Form section*/
#survey-form {
	display: inline-block;
	
	width: 100%;
	height: auto;

	align-content: center;
	justify-content: center;

}

#organisation-header,
#requirements-header,
#pages-header,
#feature-header,
#contact-header {
	width: 100%;
	height: auto;
	padding: 0;

	font-size: 20px;
	font-weight: bolder;
	
	
	word-wrap: wrap;
	text-align: left;
	text-transform: uppercase;
}

#organisation-field,
#requirements-field,
#pages-field,
#feature-field,
#contact-field {
	
	width: 100%;
	height: auto;
	
	padding: 10px;
	margin-top: 25px;
	margin-bottom: 25px;

	border: 2px;
	border-radius: 10px;

	background-color: white;

}


/*Inputs*/
input[type=text],
input[type=email],
input[type=number],
input[type=date] {
	width: 100%;
	margin: 8px 0px;
	padding:12px 20px;

	display: inline-block;
	box-sizing: border-box;

	border-top: 0;
	border-left: 0; 
	border-right: 0;
	border-bottom: 1px dotted #000;
	border-bottom-width: thin;

	font-size: 16px;
}

/*input[type=text]:focus{
	background-color: #00ffff;
	color: #fff;
}*/


/*Select*/
select {
	width: 100%;
	
	padding: 12px 20px;
	margin: 2px;
	
	cursor: pointer;
}

label {
	display: flex;
		
	padding: 12px 12px 12px 0;

	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	
	text-align: left;
}

legend {
	padding-top: -2px;
}

#name {
	text-align: left;
}

#dropdown {
	width: 50%;
	
	border: #f1f1f1;
	border-radius: 5px;

}


/*Textarea*/
textarea {
	width: 100vw;
	height: 150px;
	
	padding: 12px 20px;

	box-sizing: border-box;
	border-radius: 10px;
	resize: none;
	
	color: #000;
}

/*Button*/
input[type=submit] {
	width: 100%;
	color: #fff;
	
	padding: 14px 20px;
	margin: 8px 0;
	background-color: #00ffff;
	
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
	
	cursor: pointer;


}

/*Media queries*/
@media screen and (max-width: 480px) {
  body {
  	width: 100vw;
  	
  	margin: 0;
	padding: 0;
    
  }

  #survey-form,
  #container {
  	width: 80vw;
  	height: auto;

  	margin-left: 3vw;
  	margin-right: 1vw;
  	padding: 0;

  	justify-content: center;
  	align-contents: center;
  }

  #header {
  	width: 80vw;
  	height: auto;

  	margin-left: 4vw;
  }

  #title {
  	font-size: 25px;
  }

  textarea {
  	width: 80vw;
  }
}